[user]
	name = Kazuki Shigemichi
	email = shigemichik@gmail.com
[pull]
	ff = only
[merge]
	ff = false
[color]
	ui = auto
[core]
	autocrlf = input
	editor = micro
	quotepath = false
	pager = delta
[commit]
	verbose = true
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	syntax-theme = ansi
	side-by-side = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
